.DS_Store
node_modules

/.cache
/functions
/public/build
.dev.vars
.env
.env.*

/.wrangler
wrangler.toml

/public/entry.worker.js
/public/firebase-messaging-sw.js

# 生SQl文生成用の断片コード
/app/routes/query.tsx